.tabs-container {
          display: flex;
          border-bottom: 2px solid #ddd;
          background-color: #0077ffcb;
          border-radius: 10px 10px 0px 0px;
        }

        .tab {
          padding: 12px 20px;
          cursor: pointer;
          border: none;
          background: none;
          outline: none;
          font-size: 16px;
          color: #f6f5fd;
          border-bottom: 2px solid transparent;
          transition: all 0.2s ease-in-out;
        }

        .tab:hover {
          color: #ffc400;
        }

        .tab.active {
          color: #ffffff;
          border-bottom: 3px solid #ffffff;
          font-weight: bold;
        }

        .tab-content {
          padding: 20px;
          background-color: #f9f9f9ec;
          min-height: 150px;
          border:2px solid #ddd;
          border-top: none;
        }